
/* Your CSS Code here. */
*{
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 100px 1fr 500px;
    grid-template-rows: 100px 100px 1fr;

    grid-template-areas: 
    "titl title title"
    "nav . side"
    "footer . foote"
    ;
	grid-column-gap: 66px;
	grid-row-gap:29px;
}
.item{
    background-color: aqua;
    border: 2px solid;
	
}

.item1{
    grid-area: titl;
}

.item2{
    grid-area: title;
}
.item3{
    grid-area: nav;
}
.item4{
    grid-area: side;
}
.item5{
    grid-area: footer;
}
.item6{
    grid-area: foote;
}