*{
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
   
    width: 600px;
    background-color:  rgb(41, 0, 0);
    Border: 5px solid rgb(4, 255, 4);
   grid-row-gap: 20px;

    grid-template-columns: 170px 170px 170px;
    grid-template-rows: 200px 200px 200px;

    grid-template-areas: 
    "title title2 title2 title2"
    ".     title3 . title4"
     ". title5  title6    ."
    ;
}
.item{
    background-color: aqua;
    border: 2px solid;
}

.item1{
    grid-area: title;
    background-color:  teal;
    border: 2px dotted rgb(38, 38, 43);
   
    
}

.item2{
    grid-area: title2;
   background-color:thistle ;
   border: 2px dotted rgb(38, 38, 43);
    
}
.item3{
    grid-area: title3;
    background-color: tomato;
    border: 2px dotted rgb(38, 38, 43);
}
.item4{
    grid-area: title4;
    background-color: turquoise;
    border: 2px dotted rgb(38, 38, 43);
}
.item5{
    grid-area: title5;
    background-color:  violet;
    border: 2px dotted rgb(38, 38, 43);
}
.item6{
    grid-area: title6;
    background-color: yellowgreen;
    border: 2px dotted rgb(38, 38, 43);
}
